<div class="general-container">
    <div
        cdkDropList
        #bibliothequeArticlesList="cdkDropList"
        [cdkDropListData]="bibliothequeArticles"
        [cdkDropListConnectedTo]="[depotArticlesList]"
        class="bibliotheque-container"
        (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let article of bibliothequeArticles" cdkDrag>
            {{article.label}}</div>
         
    </div>
    <div
        cdkDropList
        #depotArticlesList="cdkDropList"
        [cdkDropListData]="depotArticles"
        class="depot-container"
        (cdkDropListDropped)="drop($event)">
             <button class="box" *ngFor="let article of depotArticles" cdkDrag>
                {{article.label}}<br>
                {{article.content}}
                <button (click)="edit-txt()">Modifier le texte</button>    
            </button>
    </div> 
</div>

